<section class="container mt-5">
      <div class="container text-center">
        <h1>Recetas por país</h1>   
        <h2>Aquí encontraras las recetas de cada país</h2>
      </div>
      <br><br>
      <div class="d-flex align-items-center">
        <div class="d-flex align-items-center row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
          @for (country of countries; track country.strArea) {
            <div class="col text-center row row-cols-1  align-items-center">

              <a routerLink="/countries" routerLinkActive="active">
                <img src="https://flagcdn.com/us.svg" alt="flag" 
                class="flag-img">
              </a>

              <a routerLink="/countries" routerLinkActive="active"> {{country.strArea}} </a>

            </div>
          }
        </div>
      </div>
</section>
