.col {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  a {
    margin-top: 10px;
    font-size: 18px;
    text-decoration: none;
  }

  .flag-img {
    width: 300px;
    height: auto;
  }