<app-navbar />

<main style="margin: 5rem 0;">
    <section class="container">
        <div class="title">
            <h1><span>{{countryName}} Food</span></h1>
        </div>

        <br><br>
        <div class="container text-center">
            <img class="img-fluid" [src]="'assets/' + countryName + '.png'" alt="{{countryName}}" style="border: 0.25px solid #999999;">
        </div>

        <hr>

        <br>
        <app-all-recipes [filterType]="'a'" [filterValue]="countryName"/>
    </section>
    
</main>

<app-footer />

