<footer class="py-4">
  <div class="container">
    <div class="row">
      <div class="col">
        <h3>DevChef</h3>
        <p>DevChef is a Web Apps Development class project. This page was created using Angular.</p>
        <div class="col col-lg-4">
          <a href="#" class="text-decoration-none text-white fs-2 me-3"><i class="bi bi-instagram"></i></a>
          <a href="#" class="text-decoration-none text-white fs-2 me-3"><i class="bi bi-facebook"></i></a>
          <a href="#" class="text-decoration-none text-white fs-2 me-3"><i class="bi bi-twitter-x"></i></a>
        </div>
      </div>
      <div class="col">
        <h4>More About DevChef</h4>
        <ul class="list-unstyled">
          <li><a href="#" class="text-decoration-none text-white">About Us</a></li>
          <li><a href="#" class="text-decoration-none text-white">DevChef Members</a></li>
          <li><a href="#" class="text-decoration-none text-white">Newsletter</a></li>
        </ul>
      </div>
      <div class="col">
        <h4>Connect</h4>
        <ul class="list-unstyled">
          <li><a href="#" class="text-decoration-none text-white">Contact Us</a></li>
          <li><a href="#" class="text-decoration-none text-white">Advertising</a></li>
          <li><a href="#" class="text-decoration-none text-white">Press Center</a></li>
        </ul>
      </div>
    </div>
    <hr>
    <p class="">©2025 Eduardo Yaguar, Natalie Rodriguez, Juan Jaramillo. All rights reserved. The material on this site may not be reproduced, distributed, transmitted, cached or otherwise used.</p>
  </div>
</footer>
