<app-navbar/>

<div class="container text-center shadow-sm" style="width: 990px;">

    @for (letra of alphabet; track letra){
        @if (!excludedLetters.includes(letra)) {
            <a (click)="scrollToSection(letra)" role="button" class="custom-link"><h2>{{ letra }}</h2></a>
        }
    }

</div>
<main>
    <br>
    <div class="container">
        @for (letra of alphabet; track letra) {

            <app-recipes-by-letter [letra]="letra"/>
        }
    </div>
    
</main>

<footer>
    <app-footer/>
</footer>