<app-navbar/>
<section class="container">
    <div class="container-fluid shadow-sm d-flex text-align-left row row-1 row-sm-2">

        @for (letra of alphabet; track letra){
            @if (!excludedLetters.includes(letra)) {
                <div class="col">
                    <a (click)="scrollToSection(letra)" role="button" class="custom-link"><h2>{{ letra }}</h2></a>
                </div>
                
            }
        }
    
    </div>

</section>

<main>
    <br>
    <div class="container">
        @for (letra of alphabet; track letra) {

            <app-recipes-by-letter [letra]="letra"/>
        }
    </div>
    
</main>

<footer>
    <app-footer/>
</footer>