
<app-navbar />
<!-- 
<main style="margin: 5rem 0;">
  <div class="container">
    <div class="d-flex justify-content-center" style="align-items: center;">
      <form [formGroup] = "searchForm" (ngSubmit)="onSubmit()" class="row g-3">
        <div class="col-auto">
          <input type="search" 
          class="form-control" 
          id="searchRecipe" 
          formControlName="searchRecipe"
          name="searchRecipe" placeholder="Search Recipe"
          [ngClass]>
        </div>
        <div class="col-auto">
          <button type="submit" class="btn btn-danger" >Search</button>
        </div>
      </form>
    </div>
  </div>
  

  <br>
  -->
<main>
<section class="container">
  <app-carousel></app-carousel>
</section>
<div style="margin: 7.4rem 0 7.4rem 0;"></div>
<section class="container">
  <app-menu-buttons (categorySelected)="updateCategory($event)"></app-menu-buttons>
  <app-cards *ngIf="selectedCategory" [category]="selectedCategory"></app-cards>

</section>

<div style="margin: 7.4rem 0 7.4rem 0;"></div>
<section class="container">
  <app-popular-meal />
</section>


</main>

<app-footer />


