<footer>
  <div class="container">
    <div class="row">
      <div class="col">
        <h3>DevChef</h3>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ex, reprehenderit accusamus dolorum eveniet amet necessitatibus.</p>
        <div>
          <a href="" class="text-decoration-none"><i class="bi bi-instagram"></i></a>
        </div>
      </div>
      <div class="col">
        <h4>More About DevChef</h4>
        <ul class="list-unstyled">
          <li><a href="#" class="text-decoration-none text-white">About Us</a></li>
          <li><a href="#" class="text-decoration-none text-white">DevChef Members</a></li>
          <li><a href="#" class="text-decoration-none text-white">Newsletter</a></li>
        </ul>
      </div>
      <div class="col">
        <h4>Connect</h4>
        <ul class="list-unstyled">
          <li><a href="#" class="text-decoration-none text-white">Contact Us</a></li>
          <li><a href="#" class="text-decoration-none text-white">Advertising</a></li>
          <li><a href="#" class="text-decoration-none text-white">Press Center</a></li>
        </ul>
      </div>
    </div>
    <hr>
    <p class="">©2025 Eduardo Yaguar, Natalie Rodriguez, Juan Jaramillo. All rights reserved. The material on this site may not be reproduced, distributed, transmitted, cached or otherwise used.</p>
  </div>
</footer>
