<header class="container-fluid shadow-sm mb-5 lh-1 py-3 w-100">
  <div class="border-bottom row flex-nowrap justify-content-center align-items-center">
    <div class="col-4 text-center m-4">
      <a class="blog-header-logo text-decoration-none fs-1 fw-bold title-text" routerLink="/home" routerLinkActive="active">DevChef</a>
    </div>
  </div>
  <div class="row justify-content-left align-items-left">
    <div class="col-4 gap-3 mt-3 text-center d-flex justify-content-center align-items-center">
      <a class="custom-link  fw-semibold" routerLink="/countries" routerLinkActive="active">Countries</a>
      <a class="custom-link  fw-semibold" href="#">Ingredients</a>
    </div>
  </div>
</header>
