<section class="container text-center">
    <h1>Recipes by ingredients</h1> 
    <p style="font-size:larger;"> Find recipes using the ingredients you have on hand. Search by ingredients you have at home!
    </p>
</section>

<br><br>

<app-search></app-search>
<br><br>

<div class="row row-cols-1 row-cols-md-3 g-4">
    @for (ingredient of ingredients; track ingredient.idIngredient){
        @if(!($index > 17)){
            <div class="col">
                <div class="card h-100">
                  <img src={{photos[$index].url}} style="height: 16vw;" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">{{ingredient.strIngredient}}</h5>
                    <div>
                        <p class="card-text truncate-text">{{ingredient.strDescription}}</p>
                    </div>                    
                  </div>
                  <div class="card-footer">
                    <a href="#" class="btn btn-warning">View</a>
                  </div>
                </div>
            </div>
        }
    }
    
    
</div>