<header class="container-fluid shadow-sm mb-5 lh-1 py-3 w-100">

  <div class="border-bottom row justify-content-center align-items-center">
    <div class="col-12 text-center my-3">
      <a class="blog-header-logo text-decoration-none fw-bold title-text" routerLink="/home" routerLinkActive="active">DevChef</a>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-12 nav-links mt-3 d-flex justify-content-center align-items-center">
      <a class="custom-link fw-semibold mx-2" routerLink="/home" routerLinkActive="active">Home</a>
      <a class="custom-link fw-semibold mx-2" routerLink="/countries" routerLinkActive="active">Countries</a>
      <a class="custom-link fw-semibold mx-2" routerLink="/ingredients">Ingredients</a>
      <a class="custom-link  fw-semibold  mx-2" routerLink="/recipes" >Recipes</a>
  <!-- <div class="row justify-content-left align-items-left">
    <div class="col-4 gap-3 mt-3 text-center d-flex justify-content-center align-items-center">
      <a class="custom-link  fw-semibold" routerLink="/home" routerLinkActive="active">Home</a>
      <a class="custom-link  fw-semibold" routerLink="/countries" routerLinkActive="active">Countries</a>
      <a class="custom-link  fw-semibold" routerLink="/ingredients" >Ingredients</a>
      <a class="custom-link  fw-semibold" routerLink="/recipes" >Recipes</a> -->
    </div>
  </div>
</header>
