<div class="d-flex justify-content-center">
  <h1><span>RECIPES BASED ON DIETARY PREFERENCES</span></h1>
</div>
<div class="d-flex align-items-center justify-content-center gap-2 mt-5">
  <button class="btn btn-menu rounded-pill"><span class="fw-semibold fs-6">Vegetarian</span></button>
  <button class="btn btn-menu rounded-pill"><span class="fw-semibold fs-6">Vegan</span></button>
  <button class="btn btn-menu rounded-pill"><span class="fw-semibold fs-6">Lamb</span></button>
  <button class="btn btn-menu rounded-pill"><span class="fw-semibold fs-6">Chicken</span></button>
  <button class="btn btn-menu rounded-pill"><span class="fw-semibold fs-6">Misc</span></button>
</div>
