
h1{
  color: #333333;

}
h1 span{
  text-decoration: underline;
  text-decoration-color: #ed1f1f;
  text-decoration-thickness: 2px;
  text-underline-offset: 1.5rem;
}
.btn-menu{
  background: #f2d7d7;
  color: #333333;
  transition: background 0.1s, color 0.1s;
}
.btn-menu:active{
  color: white;
  background: #333333;
}

