

  <div class="d-flex align-items-center gap-4" style="margin-top: 4rem;">
<!--
    <div class="card" style="width: 18rem;">
      <img src="https://cdn.pixabay.com/photo/2014/10/19/20/59/hamburger-494706_960_720.jpg" class="card-img-top" alt="food">
      <div class="card-body">
        <h5 class="card-title">Hamburger</h5>
      </div>
    </div>-->

    <div class="custom-card">
      <img src="https://cdn.pixabay.com/photo/2014/10/19/20/59/hamburger-494706_960_720.jpg" class="custom-card-img" alt="food">
      <div class="custom-card-body">
        <h5 class="custom-card-title">Vegan Hamburger</h5>
      </div>
    </div>

    <div class="custom-card">
      <img src="https://cdn.pixabay.com/photo/2014/10/19/20/59/hamburger-494706_960_720.jpg" class="custom-card-img" alt="food">
      <div class="custom-card-body">
        <h5 class="custom-card-title">Vegan Hamburger</h5>
      </div>
    </div>

    <div class="custom-card">
      <img src="https://cdn.pixabay.com/photo/2014/10/19/20/59/hamburger-494706_960_720.jpg" class="custom-card-img" alt="food">
      <div class="custom-card-body">
        <h5 class="custom-card-title">Vegan Hamburger</h5>
      </div>
    </div>

    <div class="custom-card">
      <img src="https://cdn.pixabay.com/photo/2014/10/19/20/59/hamburger-494706_960_720.jpg" class="custom-card-img" alt="food">
      <div class="custom-card-body">
        <h5 class="custom-card-title">Vegan Hamburger</h5>
      </div>
    </div>

  </div>


