<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 p-0">
      <img src="/assets/register-photo.jpg" alt="chef decorating a dish" class="img-fluid m-0">
    </div>
    <div class="col-md-6 p-2">
      <div class="p-4">
        <h2 class="text-center fw-bold">Create an Account</h2>
        <app-register-form></app-register-form>
        <p class="mt-4 text-center text-secondary">Already have an Account? <span class="text-danger-emphasis">Login</span></p>
        <app-socials></app-socials>
      </div>
    </div>
  </div>
</div>